.home{
	width: 100%;
	height: 100vh;
	width: 150vh;
	background: blueviolet;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}

body{
	min-height: 100vh;
}

form{
	background: whitesmoke;
	display: flex;
	flex-direction: column;
	padding: 2vw 4vw;
	width: 90%;
	max-width: 600px;
	border-radius: 10px;
}

form h3{
	text-align: center;
	display: flex;
	font-weight: 800;
	margin-bottom: 20px;
}

form input, form textarea{
    border: 0px;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: white;
    font-size: 16px;
}

form textarea{
	text-align: center;
    border: 0px;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: white;
    font-size: 16px;
}

form button{
	padding: 15px;
	background: red;
	color: white;
	font-size: 18 px;
	border: 0;
	outline: none;
	cursor: pointer;
	margin: 20px auto 0;
	border-radius: 30px;
	width: 150px;
}

header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 30px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}