body{
	min-height: 100vh;
	background: linear-gradient(#2b1055,#7597de);
}
header{
	position: absolute;
	top: 0;
	left: 100px;
	width: 90%;
	padding: 30px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10000;
}

header .logo{
	color: white;
	font font-weight: 700;
	text-decoration: none;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

header ul{
	display: flex;
	justify-content: center;
	align-items: center;
}

header ul li{
list-style: none;
margin-left: 20px;
}

header ul li a{
	text-decoration: none;
	padding: 5px 15px;
	color: white;
	border-radius: 20px;
}

header ul li a:hover,
header ul li a.active
{
	background: white;
	color: #2b1055;
}

section{
	position: relative;
	width: 100%;
	height: 100vh;
	padding: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

section img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	pointer-events: none;
}

section img#moon{
	mix-blend-mode: screen;
}

section img#mountains_front{
	z-index: 10;
}

section::before{
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	background: linear-gradient(to top,#1c0522,transparent);
	z-index: 1000;
}

#text{
	position: absolute;
	color: white;
	white-space: nowrap;
	font-size: 8.5vw;
	z-index: 9;
}

#button{
	text-decoration: none;
	display: inline-block;
	padding: 8px 30px;
	border-radius: 40px;
	background: white;
	color: black;
	font-size: 1.5em;
	z-index: 5;
	transform: translateY(100px);
}


.sec{
	position: absolute;
	width: 110%;
	padding: 80px;
	background: #1c0522;
}
.sec h2{
	margin-left: 50px;
	font-size: 3.5em;
	margin-bottom: 10px;
	color: white;
}
.sec p{
	width: 90%;
	margin-left: 50px;
	text-align: center;
	font-size: 1em;
	color: white;
}

form{
	background: whitesmoke;
	display: flex;
	flex-direction: column;
	padding: 2vw 4vw;
	width: 90%;
	max-width: 400px;
	border-radius: 20px;
}

form h3{
	text-align: center;
	display: flex;
	font-weight: 800;
	margin-bottom: 20px;
}

form input, form textarea{
    border: 0px;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: white;
    font-size: 16px;
}

form textarea{
	text-align: center;
    border: 0px;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: white;
    font-size: 16px;
}

form button{
	padding: 15px;
	background: red;
	color: white;
	font-size: 18 px;
	border: 0;
	outline: none;
	cursor: pointer;
	margin: 20px auto 0;
	border-radius: 30px;
	width: 150px;
}

.home{
	width: 100%;
	height: 100vh;
	width: 100vh;
	background: blueviolet;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
}